/* -- os appearance -- */

.os-desk {
	background-image: url(/assets/img/th.jpg);
	background-size: 100% 100%;
}
.os-desk footer {
	/*background-color: darkblue;*/
	backdrop-filter: blur(10px) brightness(.5) sepia(.5);
}

.os-launch {
	background-image: url(/assets/icons/gold_triangle.png);
	background-size: 100% 100%;
}


/* -- windows appearance -- */

/* default */
.window {
	outline:2px black solid;
	header {
		background-color: gray;
		color: black;
	}
	.action-close {
	  background: red;
	  color: white;
	}
	section {
		background-color: white;
		outline:2px black solid;
	}
}

/*
skin rules
- dont touch outline (only color
*/
.skin-transparent {
	section {
		background-color: transparent;
	}
}
.skin-glass {
	section {
		background-color: transparent;
		backdrop-filter: blur(10px);
	}
}
.skin-blue {
	section {
		background-color: cyan;
	}
}
.skin-orange {
	section {
		background-color: orange;
	}
}
.skin-red {
	section {
		background-color: red;
	}
}