.os-desk {
	display: flex;
	flex-direction: column;
}
.os-desk article {
	background-color: red;
	width: 100%;
	flex: 1 1 auto;
	overflow: hidden;
}
.os-desk footer {
	background-color: blue;
	width: 100%;
	height: 50px;
}

.windows {
	display: flex;
	flex-direction: column;
}
.windows header {
	background-color: purple;
	width: 100%;
	height: 25px;
}
.windows section {
	background-color: cyan;
	width: 100%;
	flex: 1 1 auto;
}

.size-full {
	width: 100%;
	height: 100%;
}
.size-small {
	width: 200px;
	height: 200px;
}
.size-middle {
	width: 500px;
	height: 500px;
}
.size-big {
	width: 900px;
	height: 900px;
}