/* -- os appearance -- */

.tos-desk > section {
	background-image: url(/assets/background/outside-pixel.png);
	background-size: 100% 100%;
	background-color: none;
}
.tos-deskbar {
	/*background-color: darkblue;*/
	border-top: 1px white solid;
	backdrop-filter: blur(10px) brightness(.5);
}

.os-launch {
	background-image: url(/assets/icons/gold_triangle.png);
	background-size: 100% 100%;
}


/* -- windows appearance -- */

/* default */
.tos-window {
	outline:2px black solid;
	> header {
		background-color: gray;
		color: black;
	}
	> header > .action-full {
	  background: transparent;
	  color: black;
	}
	> header > .action-close {
		background: red;
		color: white;
	}
	> header > .action-close:disabled {
		background: dimgray;
		color: black;
	}
	> section {
		background-color: white;
		outline:2px black solid;
	}
}

/* skins */
.tos-window.skin-transparent {
	/*> header {
		background-color: transparent;
	}*/
	> section {
		background-color: transparent;
	}
}
.tos-window.skin-glass {
	/*> header {
		background-color: transparent;
		backdrop-filter: blur(20px);
	}*/
	> section {
		background-color: transparent;
		backdrop-filter: blur(10px);
	}
}
.tos-window.skin-blue {
	> section {
		background-color: cyan;
	}
}
.tos-window.skin-orange {
	> section {
		background-color: orange;
	}
}
.tos-window.skin-red {
	> section {
		background-color: red;
	}
}
.tos-window.skin-black {
	> section {
		background-color: black;
	}
}