/* -- os appearance -- */

.tos-desk > section {
	background-image: url(../assets/placeholder-background.png);
	background-size: 100% 100%;
	background-color: none;
}
.tos-deskbar {
	border-top: 1px white solid;
	backdrop-filter: blur(10px) brightness(.5);
	/*background-color: darkblue;*/
}

.tos-deskbar-launch {
	background-image: url(../assets/placeholder-launch.png);
	background-size: 100% 100%;
}


/* -- windows appearance -- */

/* default */
.tos-window {
	outline:2px black solid;
	> header {
		background-color: gray;
		color: black;
	}
	> header > .action-full {
	  background: transparent;
	  color: black;
	}
	> header > .action-close {
		background: red;
		color: white;
	}
	> header > .action-close:disabled {
		background: dimgray;
		color: black;
	}
	> section {
		background-color: white;
		outline: 2px black solid;
	}
}

/* skins */

/* colors */
.tos-window.skin-white {
	> section {
		background-color: #F9FFFE;
	}
}
.tos-window.skin-lightgray {
	> section {
		background-color: #9D9D97;
	}
}
.tos-window.skin-gray {
	> section {
		background-color: #474F52;
	}
}
.tos-window.skin-black {
	> section {
		background-color: #1D1D21;
	}
}
.tos-window.skin-brown {
	> section {
		background-color: #835432;
	}
}
.tos-window.skin-red {
	> section {
		background-color: #B02E26;
	}
}
.tos-window.skin-orange {
	> section {
		background-color: #F9801D;
	}
}
.tos-window.skin-yellow {
	> section {
		background-color: #FED83D;
	}
}
.tos-window.skin-lime {
	> section {
		background-color: #80C71F;
	}
}
.tos-window.skin-green {
	> section {
		background-color: #5E7C16;
	}
}
.tos-window.skin-cyan {
	> section {
		background-color: #169C9C;
	}
}
.tos-window.skin-lightblue {
	> section {
		background-color: #3AB3DA;
	}
}
.tos-window.skin-blue {
	> section {
		background-color: #3C44AA;
	}
}
.tos-window.skin-purple {
	> section {
		background-color: #8932B8;
	}
}
.tos-window.skin-magenta {
	> section {
		background-color: #C74EBD;
	}
}
.tos-window.skin-pink {
	> section {
		background-color: #F38BAA;
	}
}

/* transparent */

.tos-window.skin-transparent {
	> section {
		background-color: transparent;
	}
}
.tos-window.skin-transparentfull {
	> header {
		background-color: transparent;
	}
	> section {
		background-color: transparent;
	}
}
.tos-window.skin-glass {
	> section {
		background-color: transparent;
		backdrop-filter: blur(10px);
	}
}
.tos-window.skin-glassfull {
	> header {
		background-color: transparent;
		backdrop-filter: blur(20px);
	}
	> section {
		background-color: transparent;
		backdrop-filter: blur(10px);
	}
}
.tos-window.skin-filter-negative {
	> section {
		background-color: transparent;
		backdrop-filter: invert(1);
	}
}
.tos-window.skin-filter-grayscale {
	> section {
		background-color: transparent;
		backdrop-filter: grayscale(1);
	}
}

.tos-window.skin-deep {
	> section {
		box-shadow: inset 0 0 2em #000;
	}
}