.tos-desk > section {
	display: flex;
	flex-direction: column;
}

/* the desktop */
.tos-desktop {
	flex: 1 1 auto;

  display: grid;
  grid-auto-columns: 10vmin;
  grid-auto-rows: 10vmin;
  grid-auto-flow: row; /* fill rows first */

	/*box-sizing: border-box;*/
  
	width: 100%;
	height: 100%;
	gap: 10px;
	padding: 10px;
	border: red 1px solid;
}

.tos-desktop-icon.selected {
	/* debug */
  background: rgba(0, 150, 255, 0.3);
  border: 1px solid blue;
}

.tos-desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.tos-desktop-icon img {
  width: 60%;
  height: 60%;
	padding: 10% 10% 0 10%;
}

.tos-desktop-icon span {
	flex: 1 1 auto;

	font-size: 14px;
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/* the deskbar */

.tos-deskbar {
	z-index: 1000000;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 0;
}

.tos-deskbar nav {
	height: 100%;
	aspect-ratio: 1;
	display: inline-block;
	margin-right: 3%;
}

.tos-deskbar article {
	height: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	cursor: pointer;
}
.tos-deskbar article img {
	width: 80%;
	height: 80%;
}