.tos-desk > section {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* the desktop */

.tos-desktop {
	/* self */
	flex: 1 1 0;
	width: 100%;
	height: 0; /* idk why but this works cleanely well */
	/* grid */
  display: grid;
  grid-auto-flow: column;
	grid-template-columns: repeat(var(--desktop-columns), 1fr);
  grid-template-rows: repeat(var(--desktop-rows), 1fr);
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	/*place-items: center; this works but breaks fit (some elements dont taking th bigger square)*/
	/* defaut */
	--desktop-columns: 12;
	--desktop-rows: 5;
}

.tos-desktop-icon.tos-is-selected {
  background: rgba(0, 150, 255, 0.3);
  outline: 1px solid blue;
}

.tos-desktop-icon {
	/* ablility to stretch to keep container */
	min-width: 0;
	min-height: 0;
	/* ablility to stretch to keep ratio */
  max-width: 100%;
  max-height: 100%;
	/* keep ratio AT ALL COST */
	aspect-ratio: 1;
	object-fit: contain;
	/* container things */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.tos-desktop-icon > section {
  width: 80%;
  height: 80%;
	/*margin: 10% 10% 0 10%;*/
}
.tos-desktop-icon > section > * {
  width: 100%;
  height: 100%;
	object-fit: contain;
}
.tos-desktop-icon > footer {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
	width: 100%;
}
.tos-desktop-icon > footer > p {
	font-size: 15px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}


/* the deskbar */

.tos-deskbar {
	z-index: 1000000;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 0;
}

.tos-deskbar > .tos-deskbar-launch {
	height: 100%;
	aspect-ratio: 1;
	display: inline-block;
	margin-right: 3%;
	cursor: pointer;
}

.tos-deskbar > .tos-deskbar-icon {
	height: 100%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	cursor: pointer;
}
.tos-deskbar > .tos-deskbar-icon img {
	width: 80%;
	height: 80%;
}