.tos-window-container {
	position: relative;
}

.tos-window {
	display: flex;
	flex-direction: column;
	position: absolute;
	overflow: auto;
	resize: both;
}
.tos-window > header {
	display: flex;
	width: 100%;
	height: 35px;
	flex-basis: 35px;
	flex-grow: 0;
	flex-shrink: 0;
	cursor: default;
}
.tos-window > header > span {
	font-size: 20px;
	align-items: center;
	margin-left: 5px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
}
.tos-window > header > button {
  border: none;
  cursor: pointer;
  padding: 0 8px;
	aspect-ratio: 1;
}
.tos-window > section {
	width: 100%;
	flex: 1 1 auto;
	overflow: hidden;
	position: relative;
}

.tos-window object {
	width: 100%;
	height: 100%;
}
.tos-window iframe {
	width: 100%;
	height: 100%;
}